a,p{
    text-align: right;
    direction: rtl;
    color: aliceblue;
    
}
h6{
    text-align: right;
    direction: rtl;
    /* border-bottom: 1px solid #fff; */
}
.title{
    border-bottom: 1px solid #fff;

}
.copyright{
    color: black;
}