
<footer class="page-footer font-small  pt-4" style="background-color:rgb(38, 39, 39)">

  <div class="container text-center text-md-left">

    <div class="row text-center text-md-left mt-3 pb-3">

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><span class="title">צרי קשר</span></h6>
        <p>
          <i class="fas fa-home mr-3"></i> נחמיה 50 בני ברק</p>
        <p>
          <p>
            <i class="fas fa-home mr-3"></i> ישראל</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> jobs@jobs.co.il</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 03-5785928</p>

      </div>

      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><span class="title">מחפשת משרה ?</span></h6>
        <p>
          <a [routerLink]="['/home/job-table']" (click)="gotoTop()">לוח המשרות </a>

        </p>
        <p>
          <a [routerLink]="['/smart-agent']" (click)="gotoTop()">סוכן חכם</a>

        </p>
        <P>
          <a [routerLink]="['/forum']" (click)="gotoTop()"> שאל את הרב</a>
        </P>
        <P>
          <a [routerLink]="['/connect']" (click)="gotoTop()">צור קשר</a>
        </P>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><span class="title">מפרסמת משרה ?</span></h6>
        <p>
          <a [routerLink]="['/login/login-boss']" (click)="gotoTop()">כניסת מפרסם</a>

        </p>
        <p>
          <a id="addJobLink" (click)="isBoss();gotoTop()">שיתוף משרה</a>
        </p>
        <p>
          <a [routerLink]="['/add-company']" (click)="gotoTop()">הוספת חברה </a>

        </p>
        <p>
          <!-- <a href="#!">Bootstrap Angular</a> -->
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->


      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><span class="title">עבודה שמורה</span></h6>
        <p> בארגוננו אלפי משרות המתאימות לאישה החרדית.
          אנו דוגלים על חזון השמה מהירה בצורה הדיסטרקטית והמהירה ביותר.
          טוב לנו שטוב לך. </p>
      </div>
    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12">

        <!--Copyright-->
        <p class="text-center text-md-center copyright">© 2020 Copyright:
          <a href="mailto:kister1010@gmail.com">
            <strong class="copyright">Double D</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div> 

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->