<section id="timeline" style="width: 100vw  ;">

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(../assets/people.png);  background-size: contain;
    background-position: center center; background-repeat: no-repeat;"></div>

    <div class="tl-year">
      <!-- <p class="">{{statistics.CountUser}}</p> -->
      109
    </div>

    <div class="tl-content">
      <h1>משתתפות במיזם</h1>
      <p>כן כן, השמועה שעשתה לה כנפים, עשתה גם פירות...</p>
      <!-- <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
       -->
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(../assets/idea.png );  background-size: contain;
    background-position: center center; background-repeat: no-repeat;"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif"> {{statistics.PuttingAtJob}}</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">השמות בחודש האחרון</h1>
      <p> הקסם לחשוב על מאות משפחות שפרנסתם בזכותך! </p>

    </div>

  </div>

  <div class="tl-item">
    
      <!-- <div class="tl-bg" style="background-image: url(  https://img.freepik.com/free-photo/businessman-checking-time_1357-97.jpg?size=626&ext=jpg)"></div> -->
      <div class="tl-bg" style="background-image: url(../assets/jobs.png );  background-size: contain;
      background-position: center center; background-repeat: no-repeat;"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">12,456</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">משרות פנויות</h1>
      <p>השןק מוצף במשרות המתאימות לך ביותר. נותנים לך, תקחי!</p>

    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(../assets/money2.png) ; background-size: contain ;
    background-position: center center; background-repeat: no-repeat;"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">0</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">מערכת חינמית </h1>
      <p>אז למה לשלם סתם?</p>
    </div>

  </div>
</section>
