
<table dir="rtl" cellspacing="0" cellpadding="0" align="center" style="direction: rtl;
text-align:center;">
	<tbody>
	<tr>
	<td class="m_-7606855735183325404multy m_-7606855735183325404mail_outer_left_padding_for_responsive_mail m_-7606855735183325404mail_outer_right_padding_for_responsive_mail" dir="rtl" style="width:55vw;" colspan="2" valign="top">
	<br><br><h1>  קצת אודותינו :)</h1><br><br>

<p>ל. חשבת שכר במשרד רו"ח במרכז הארץ, עובדת בחדר נפרד יחד עם עוד עובדת חרדית, לאחרונה חפש הבוס עובדת נוספת וראיין מכל הבא ליד מאנ"ש ושאינם...... ל. יחד עם חברתה לעבודה פנו בתפוצות מיילים ופרסמו את המשרה, ובחסדי ד' התקבלה למשרדן עובדת חרדית נוספת, שהצטרפה בטבעיות לחדרן ו"הגיעה אל המוכן".... ל. וחברתה הרוויחו חברה נהדרת לצוות, היא מצאה מקום עבודה מצוין שאפילו כבר הותאם לדרישות הבסיסיות- האינטרנט מסונן, החדר נפרד והבוס מבין ומתחשב...</p>
<p>סיפור נוסף-</p>
<p>ג. מזכירה ראשית במשרד גדול עובדת מזה שנה עם אינטרנט פרוץ. היא אינה פותחת אותו חלילה, אך חוששת מאד ללחוץ בנושא על ההנהלה החילונית. למרות בקשותיה מסבירים אנשי המחשוב שאין אפשרות לחסום את המחשב היושב על רשת ארצית, ומנסים לאלתר פתרון שלא ממש מחזיק מעמד לאורך זמן... כשמחפשים אצלם במשרד מזכירה- היא עושה הכול כדי להביא עובדת חרדית נוספת. בזכות מוסר העבודה הגבוה שלה ושמה הטוב המנהלת מקבלת בברכה את הקו"ח שהיא מעבירה לה ואכן מתקבלת בס"ד מזכירה נוספת, משלנו. מיד לאחר קבלתה מבררת החדשה על חסימת האינטרנט, ומששומעת כי אין חסימה ברורה מודיעה למנהלת שאינה יכולה להגיע לעבודה עד שהעניין יסודר. בתוך כמה ימים מוצא מנהל המחשוב פתרון מבריק ומצוין שמאפשר לשתיהן לעבוד          בשמחה וכהלכה.</p>
<p>ת. מפתחת תכנה עובדת בצוות קטן בסביבה מעורבת. היא חולמת על היום בו תחלוק את יומה עם חברה כלבבה. בינתיים בקשותיה לחסימה טובה יותר לא מתקבלות, גם בקשתה לעבוד מ-7 עד 15:30, כדי שתוכל להוציא את ילדיה מהמעון, בקשה שאושרה לעובדות בצוותים אחרים, לא התקבלה והיא מתוסכלת מאד. לפני תקופה החלו בגיוס עובדת נוספת לצוות הקטן שלה. ת. מגייסת את כל זמנה הפנוי בחיפוש קו"ח מתאימים של עובדת מתאימה, וזו אכן נמצאת, וב"ה גם מתקבלת, (עם "איום" בקריצה מצד המנהלת שהכול על אחריותה...) החדשה מבקשת את רמת הסינון הגבוהה ביותר שניתן וגם מקבלת, וגם ת, אוטומטית....</p>
<p>זהו הכוח של הרבים, ולשם פנינו מועדות.</p>
<p>מאז יצא המיזם לאור בחודש אייר ה'תשע"ט,                    ועד עתה (חשוון התש"פ) , הצטרפו אליו קרוב לרבבת נשים ובנות מכל רחבי הארץ.                                             רבות שיתפו במשרות פנויות על ידן, רבות מצאו עבודה,       הודרכו בכתיבת קו"ח והופנו ליעוץ תעסוקתי מקיף ומותאם,     בדרך לעבודה החדשה שלהן.                                   ואנו ממשיכים יחד, בכח הרבים, למנף את הפעילות ולסייע לכמה שיותר, להתפרנס בלי להתפשר.</p>
<p></p>
<p></p>

<p>בהצלחה! </p>
<p>שתפנה, כל אחת ואחת, פרסמנה משרות עבורן מגייסים אצלכן, נסייע במציאת פרנסה למחפשות העבודה ולעצמנו- בזכייה בחברה טובה, והיה זה שכרנו ושכרכן בזה ובבא.</p>
<p></p><br>
<p></p><br>
<p></p><br>
</td>
</tr>
</tbody>
</table>
