<form>

  <div class="jumbotron">
      <h2 style="text-align: center">איפוס סיסמא </h2>

      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3" id="body">
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>לצורך אימות בבקשה הקישי את המייל שלך</label>
                          <input type="text" formControlName="email" class="form-control"
                              [(ngModel)]="registerForm.email"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">אופס! שכחת למלא מייל</div>
                              <div *ngIf="f.email.errors.email">כתובת המייל לא תקנית</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>סיסמה החדשה</label>
                          <input type="text" formControlName="password" class="form-control"
                              [(ngModel)]="registerForm.phone"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">לא הכנסת טלפון</div>
                              <div
                                  *ngIf="f.password.errors.pattern||f.password.errors.minlength||f.password.errors.maxlength">
                                  הסיסמה צריכה להכיל 6-8 תויים</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>נא הקשי שוב את הסיסמה החדשה</label>
                          <input type="text" formControlName="password1" class="form-control"
                              [(ngModel)]="registerForm.password1"
                              [ngClass]="{ 'is-invalid': submitted && f.password1.errors }" />
                          <div *ngIf="submitted && f.password1.errors" class="invalid-feedback">
                              <div *ngIf="f.password1.errors.required">לא הכנסת טלפון</div>
                              <div
                                  *ngIf="f.password1.errors.pattern||f.password1.errors.minlength||f.password1.errors.maxlength">
                                  הסיסמה צריכה להכיל 6-8 תויים</div>
                          </div>
                      </div>



                      <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary col"
                              style="background-color:tomato">אישור סיסמא חדשה</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</form>





