<div>
</div>
<nav class="navbar navbar navbar-expand-md nav-pills navbar-inverse navbar-light  fixed-top shadow-lg" style="background-color:#ccea3c">
  <div class="container-fluid">

    <!-- statistic -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <!-- <a class="nav-link" [routerLink]="['/about']">אודות</a> -->
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/add-job']">שיתוף משרה </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/watching-companies']">ניהול חברות</a>
      </li>
   
 
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/database/edit-users']">ניהול מחפשים</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/database/bossdetails']">ניהול מפרסמים</a>
      </li>
      <!-- <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/database/jobs-list']">ניהול משרות</a>
      </li> -->
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/answer-from-rav']"> שאלה הלכתית</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/statistic']">סטטיסטיקות</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/adv']">פרסומות</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/sign-to-job-manager']">נרשם למשרה</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/check']">אישור משרות</a>
      </li>

    </ul>
    <img src="../../../assets/logo-generic.png" width="70vw" height="auto">

    <!-- <a [routerLink]="['/add-company']">הוספת חברה </a> -->
  </div>
  <div>
    <!-- <p>{{name}}</p> -->
  </div>
</nav>