<div class="row">
  <div class="col-6">
    <p>א. המשרות המתפרסמות באתר עברו סינון ראשוני עפ"י הפרמטרים של סביבה וסינון.</p>
    <p>ב. הנהלת האתר אינה מתחייבת לפרסם כל משרה שנשלחת לשיתוף.</p>
    <p>ג. הנהלת האתר אינה לוקחת אחריות רוחנית על מקומות העבודה, ועל כל אחת לבדוק היטב בעצמה האם הסביבה והסינון אכן
      מתאימים. </p>
    <p>ד. אין התחייבות להעברת קורות חיים למעסיקים- רק קו"ח מתאימים יועברו.</p>
    <p>ה. שאלות הלכתיות המופנות לאתר תועברנה לרבנים והתשובות תשלחנה לשואלות, שאלות בהן הוראה כללית תתפרסמנה באתר.</p>
  </div>
</div>